*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
h3{
	text-align:center;
	padding:20px;
}
#header{
	background:white;
}
#btn1{
	margin:50px auto;
	display:block;
	width:100%;
}
.txtbox{
	width:70%;
}
.rbtn{
	padding:15px;
}
#dlist{
	margin:30px;
	width:85%;
	display:inline-block;
}
.wid{
	width:100%;
}
.bor{
	border:2px solid black;
}
.pad{
	padding:8px;
}